.tool-container {
  position: relative;
}

.main-tool-button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  border: 1px solid gray;
}

.options-container {
  position: absolute;
  top: 0; /* Position below the main button */
  left: 35px;
  display: flex;
  /* flex-direction: column; Display options vertically */
  border: 1px solid gray;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.options-container.open {
  opacity: 1;
  transform: translateX(0);
}

.option-button {
  border: none;
}

.dx-button:active,
.dx-button:focus {
  background-color: transparent;
}

.dx-button-content {
  padding: 0 !important;
}

.dx-button-mode-contained .dx-icon {
  font-size: 13px;
}

.divider {
  border: solid 1px gray;
  height: 20px;
  margin: auto;
}
