.tool-container {
  position: fixed;
  bottom: 20px;
  right: 200px;
  z-index: 1000;
}

.main-tool-button {
  position: relative;
  z-index: 10;
}

.options-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.options-container.open {
  opacity: 1;
  transform: translateX(0);
}

.option-button {
  margin-left: 10px;
}

::ng-deep .dx-fa-button.dx-fa-button-main .dx-overlay-content {
  max-height: 90px !important;
  max-width: 90px !important;
}
